@use "sass:map";

$main-color: blue; //仮の色
$text-color: #000; //仮の色

$font-base-1: "Zen Kaku Gothic New"; //仮のGoogleフォント
$font-base-2: "Josefin Sans", sans-serif; //仮のGoogleフォント

//ブレークポイント
$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

//メディアクエリー
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-base-1;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}

body,
html {
  overflow-x: hidden;
}

.hidden-pc {
  display: block;

  @include mq(md) {
    display: none;
  }
}

.hidden-sp {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.fv {
  width: 100%;
  height: 600px;

  @include mq(md) {
    height: 768px;
  }
}

.fv__inner {
  width: 100%;
  height: 100%;
}

.fv__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.fv__image {
  width: 100%;
}

.fv__image--pc {
  display: none;

  @include mq(md) {
    display: block;
    height: auto;
  }

  img {
  }
}

.fv__image--sp {
  @include mq(md) {
    display: none;
  }
  img {
    width: 100%;
  }
}

.fv__header,
.fv__header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding-left: 20px;

  @include mq(md) {
    height: 100px;
  }
}

.fv__header {
  position: absolute;
}

.fv__logo {
}

.fv__logo-link {
}

.fv__logo-text,
.fv__logo-text2 {
  /* h1_Zen Kaku Gothic New_Bold_11px */
  font-family: "Zen Kaku Gothic New";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.fv__logo-text {
  color: #fff;
}

.fv__logo-text2 {
  color: #7d7d7d;
}

.fv__logo-image {
  margin-top: 4px;

  @include mq(md) {
    width: 175px;
  }

  img {
    width: 140px;
    height: 36px;

    @include mq(md) {
      width: 175px;
      height: 45px;
    }
  }
}

.fv__header-contents {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fv__tel {
  display: none;

  @include mq(md) {
    display: block;
    border-radius: 28px;
    background: #242424;
    width: 230px;
    height: 56px;
    padding-block: 5px;
  }
}

.fv__tel-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fv__tel-number {
  display: flex;
}

.fv__tel-logo {
  width: 12px;
  height: 15px;
}

.fv__tel-text {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}

.fv__tel-reception {
  display: flex;
  gap: 6px;
}

.fv__tel-label {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fv__tel-hour {
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fv__line {
  display: none;

  @include mq(md) {
    display: block;
    width: 230px;
    height: 56px;
    border-radius: 28px;
    background: #06c755;
    padding-block: 5px;
  }
}

.fv__line-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.fv__line-logo {
  width: 31px;
  height: 30px;
}

.fv__line-text {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.8px;
}

.fv__drawer {
  @include mq(md) {
    margin-left: 8px;
  }

  a {
    img {
      width: 72px;
      height: 100px;

      @include mq(md) {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.fv__flower {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fv__flower--left {
  position: absolute;
  top: 39px;
  left: 0;

  @include mq(md) {
    top: 250px;
    left: 22px;
  }

  img {
    width: 175px;

    @include mq(md) {
      width: 326px;
      transform: scaleY(-1) rotate(16deg);
    }
  }
}

.fv__flower--right {
  position: absolute;
  bottom: 34px;
  right: 0;

  @include mq(md) {
    bottom: 290px;
    right: 19px;
  }

  img {
    width: 150px;

    @include mq(md) {
      width: 356px;
    }
  }
}

.fv__flower--1 {
  position: absolute;
  left: 16px;
  bottom: 250px;

  @include mq(md) {
    left: 841px;
    bottom: 529px;
  }

  img {
    width: 24px;

    @include mq(md) {
      width: 39px;
    }
  }
}

.fv__flower--2 {
  position: absolute;
  bottom: 10px;
  left: 100px;

  @include mq(md) {
    left: 984px;
    bottom: 278px;
  }

  img {
    width: 38px;

    @include mq(md) {
      width: 46px;
    }
  }
}

.fv__flower--3 {
  position: absolute;
  bottom: 26px;
  left: 200px;

  @include mq(md) {
    left: 613px;
    bottom: 248px;
  }

  img {
    width: 26px;

    @include mq(md) {
      width: 31px;
    }
  }
}

.fv__flower--4 {
  img {
  }
}

.fv__flower--5 {
  img {
  }
}

.fv__flower--6 {
  img {
  }
}

.fv__flower--7 {
  img {
  }
}

.fv__title {
}

.fv__title--main {
  position: absolute;
  top: 115px;
  left: 189px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  @include mq(md) {
    flex-direction: row;
    gap: 35px;
    top: 235px;
    left: 281px;
  }
}

.fv__title--logo-wrapper1,
.fv__title--logo-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  @include mq(md) {
    flex-direction: row;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 86px;
    background: rgba(255, 255, 255, 0.85);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include mq(md) {
      width: 168px;
      height: 48px;
    }
  }
}

.fv__title--logo-wrapper2 {
  @include mq(md) {
  }
}

.fv__title--logo1 {
  img {
    width: 32px;
    height: 30px;

    @include mq(md) {
      width: 63px;
      height: 61px;
    }
  }
}

.fv__title--logo2 {
  img {
    width: 32px;
    height: 30px;

    @include mq(md) {
      width: 63px;
      height: 61px;
    }
  }
}

.fv__title--logo3 {
  img {
    width: 32px;
    height: 32px;

    @include mq(md) {
      width: 63px;
      height: 63px;
    }
  }
}

.fv__title--logo4 {
  img {
    width: 20px;
    height: 26px;

    @include mq(md) {
      width: 40px;
      height: 52px;
    }
  }
}

.fv__title--text1,
.fv__title--text2 {
  writing-mode: vertical-rl;
  text-orientation: upright; /* 英数字も正立させる */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3.84px;

  @include mq(md) {
    writing-mode: horizontal-tb;
    text-shadow: 0 0 32px rgba(121, 5, 16, 0.5);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
    letter-spacing: 4.8px;
  }
}

.fv__title--text1 {
  @include mq(md) {
  }
}

.fv__title--text2 {
  @include mq(md) {
  }
}

.fv__title--sub {
  position: absolute;
  bottom: 75px;
  left: 151px;
  writing-mode: vertical-rl;
  text-orientation: upright; /* 英数字も正立させる */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: 2.86px;
  padding-inline: 44px;

  @include mq(md) {
    writing-mode: horizontal-tb;
    font-size: 42px;
    padding-inline: 92px;
    left: 315px;
    bottom: 410px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;

    @include mq(md) {
      width: 80px;
      height: 1px;
    }
  }

  &::before {
    top: 0;

    @include mq(md) {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &::after {
    bottom: 0;

    @include mq(md) {
      left: unset;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.fv__title--sub-small {
  font-size: 18px;
  margin-inline: 2px;

  @include mq(md) {
    font-size: 40px;
    margin-inline: 6px;
  }
}

.fv__header2 {
}

.fv__header2-inner {
}

.fv__header2-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.fv__header2-logo {
}

.fv__header2-link {
}

.fv__header2-text {
  color: #7d7d7d;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.55px;
}

.fv__header2-image {
  img {
  }
}

.problem {
  padding-block: 55px 40px;
  background: #fff;

  @include mq(md) {
    padding-block: 26px 243px;
  }
}

.problem__inner {
  @include mq(md) {
    padding-left: 25px;
    padding-right: 39px;
  }
}

.problem__contents {
}

.problem__head {
  text-align: center;
}

.problem__head-1 {
  color: #231815;
  text-align: center;
  font-family: "Zen Kaku Gothic New";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-bottom: 7px;
  border-bottom: 2px solid #f99b9e;

  @include mq(md) {
    font-size: 20px;
    letter-spacing: 3.2px;
    border-bottom: 3px solid #f99b9e;
  }
}

.problem__head-2 {
  margin-top: 8px;
  color: #231815;
  font-family: "Zen Kaku Gothic New";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.54px;

  @include mq(md) {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
    margin-top: 14px;
  }
}

.problem__body {
  width: 100%;
  height: 1005px;
  position: relative;
  margin-top: 36px;

  @include mq(md) {
    margin-top: 24px;
    max-width: 1376px;
    height: 892px;
  }
}

.problem__inheritance,
.problem__demolish,
.problem__price,
.problem__contract,
.problem__trouble,
.problem__valuables {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";

  @include mq(md) {
    &::before {
      position: absolute;
      content: "";
      background: url(../img/ellipse.svg) no-repeat center center / contain;
      width: 23px;
      height: 15px;
    }

    &::after {
      position: absolute;
      content: "";
      background: url(../img/ellipse.svg) no-repeat center center / contain;
      width: 12px;
      height: 8px;
    }
  }
}

.problem__inheritance-text,
.problem__demolish-text,
.problem__price-text,
.problem__contract-text,
.problem__trouble-text,
.problem__valuables-text {
  text-align: center;
  color: #231815;
  font-family: "Zen Kaku Gothic New";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.9px;

  @include mq(md) {
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 1px;
  }
}

.problem__inheritance {
  background: url(../img/inheritance-bubble.svg) no-repeat center center / contain;
  width: 314px;
  height: 164px;
  top: 0;
  left: -6px;

  @include mq(md) {
    width: 401px;
    height: 209px;
    top: 4px;
    left: 382px;

    &::before {
      left: 209px;
      bottom: -4px;
    }

    &::after {
      left: 219px;
      bottom: -15px;
    }
  }
}

.problem__inheritance-text {
}

.problem__demolish {
  width: 377px;
  height: 160px;
  background: url(../img/demolish-bubble.svg) no-repeat center center / contain;
  top: 146px;
  right: -26px;

  @include mq(md) {
    width: 405px;
    height: 194px;
    top: 162px;
    left: 77px;

    &::before {
      left: 192px;
      bottom: -14px;
    }

    &::after {
      left: 207px;
      bottom: -25px;
    }
  }
}

.problem__demolish-text {
}

.problem__price {
  width: 257px;
  height: 127px;
  background: url(../img/price-bubble.svg) no-repeat center center / contain;
  top: 289px;
  right: 126px;

  @include mq(md) {
    width: 375px;
    height: 185px;
    top: 100px;
    right: 51px;

    &::before {
      left: 177px;
      bottom: -12px;
    }

    &::after {
      left: 177px;
      bottom: -23px;
    }
  }
}

.problem__price-text {
}

.problem__contract {
  width: 334px;
  height: 139px;
  background: url(../img/contract-bubble.svg) no-repeat center center / contain;
  top: 403px;
  right: -34px;

  @include mq(md) {
    width: 401px;
    height: 181px;
    top: 402px;
    left: 180px;

    &::before {
      left: 218px;
      bottom: -10px;
    }

    &::after {
      left: 235px;
      bottom: -20px;
    }
  }
}

.problem__contract-text {
}

.problem__trouble {
  width: 326px;
  height: 134px;
  background: url(../img/trouble-bubble.svg) no-repeat center center / contain;
  top: 533px;
  left: -25px;

  @include mq(md) {
    width: 396px;
    height: 181px;
    top: 193px;
    left: 565px;

    &::before {
      left: 168px;
      bottom: -14px;
    }

    &::after {
      left: 167px;
      bottom: -26px;
    }
  }
}

.problem__trouble-text {
}

.problem__valuables {
  width: 373px;
  height: 169px;
  background: url(../img/valuables-bubble.svg) no-repeat center center / contain;
  top: 648px;
  right: -18px;

  @include mq(md) {
    width: 435px;
    height: 188px;
    top: 363px;
    right: 132px;

    &::before {
      left: 170px;
      bottom: -7px;
    }

    &::after {
      left: 167px;
      bottom: -26px;
    }
  }
}

.problem__valuables-text {
}

.problem__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @include mq(md) {
    bottom: 243px;
  }

  img {
    width: 177px;

    @include mq(md) {
      width: 207px;
    }
  }
}

.problem__text-pink--1 {
  color: #f99b9e;
  font-family: "Zen Old Mincho";
  font-size: 32px;
  font-weight: 900;
  line-height: 46px; /* 143.75% */
  letter-spacing: 2.24px;

  @include mq(md) {
    font-size: 52px;
    letter-spacing: 5.2px;
  }
}

.problem__text-pink--2 {
  color: #f28c90;
  font-family: "Zen Kaku Gothic New";
  font-size: 26px;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
  letter-spacing: 1.3px;

  @include mq(md) {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.5px;
  }
}

.case {
  margin-top: -105px;
  padding-top: 105px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url(../img/case/sp/wave-sp.svg) no-repeat top center;
    width: 100%;
    height: 114px;
    background-size: 100% auto;
    clip-path: inset(0 0 0 0); // 上部のみ表示
    top: 0;
    left: 0;
  }
}

.case__inner {
  padding-inline: 20px;
  background: #f9f7f3;

  @include mq(md) {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}

.case__title {
  padding-top: 40px;
}

.case__title-main {
  color: #231815;
  /* SP_h2_Zen Kaku Gothic New_Bold_22px */
  font-family: "Zen Kaku Gothic New";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.54px;
  text-align: center;
}

.case__title-sub {
  margin-top: 10px;
  color: #242424;
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.12px;
}

.case__title-label {
  position: absolute;
  top: 114px;
  left: 20px;

  img {
    width: 170px;
  }
}

.case__contents {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.case__card {
}

.case-card {
  position: relative;
  padding-top: 15px;

  @include mq(md) {
    width: calc(33.33% - 32px * 2 / 3);
  }
}

.case-card__head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 134px;
  height: 30px;
  border-radius: 22px;
  background: #f99b9e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-card__head-number {
  color: #f7f7f7;
  font-family: "Zen Old Mincho";
  font-size: 18px;
  font-weight: 900;
  line-height: 100%; /* 18px */
  letter-spacing: 0.9px;
}

.case-card__body {
}

.case-card__problem {
  border-radius: 4px 4px 0 0;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
}

.case-card__problem-inner {
  padding-inline: 20px;
}

.case-card__problem-logo {
  img {
    width: 72px;
    height: 72px;
  }
}

.case-card__problem-text {
  margin-top: 5px;
  color: #242424;
  font-family: "Zen Kaku Gothic New";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.9px;
}

.case-card__strength {
  padding-top: 59px;
  padding-bottom: 24px;
  position: relative;
  border-radius: 0 0 4px 4px;
  background: #f99b9e;
}

.case-card__strength-inner {
  padding-inline: 20px;
}

.case-card__strength-label {
  position: absolute;
  top: 14px;
  left: 67px;

  img {
    width: 87px;
  }
}

.case-card__strength-text {
  text-align: center;
  color: #f7f7f7;
  font-family: "Zen Kaku Gothic New";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.9px;
}

.case__worker {
  margin-top: 30px;
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case__worker-comment {
  position: relative;
}

.case__worker-bubble {
}

.case__worker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #242424;
  font-family: "Zen Kaku Gothic New";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.26px;
}

.case__worker-human {
  // position: absolute;
  // top: 145px;
  // left: 50%;
  // transform: translateX(-50%);
  width: 305px;
  margin-top: -45px;
  margin-left: 50px;
  z-index: 1;
}

.text-blue-1 {
  color: #5075b0;
  /* SP_h2_強調文字_Zen Old Mincho_Black__32px */
  font-family: "Zen Old Mincho";
  font-size: 32px;
  font-weight: 900;
  line-height: 46px; /* 143.75% */
  letter-spacing: 2.24px;
}

.text-blue-2 {
  color: #5075b0;
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.12px;
}

.text-blue-3 {
  color: #5075b0;
  text-align: center;
  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 1.2px;
}

.text-white {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 1.2px;
}

.text-pink-case {
  color: #f99b9e;
  text-align: center;
  font-family: "Zen Old Mincho";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px; /* 125% */
  letter-spacing: 1.68px;
}
