@use "sass:map";

$main-color: blue; //仮の色
$text-color: #000; //仮の色

$font-base-1: "Zen Kaku Gothic New"; //仮のGoogleフォント
$font-base-2: "Josefin Sans", sans-serif; //仮のGoogleフォント

//ブレークポイント
$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

//メディアクエリー
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-base-1;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}

.fv {
  width: 100%;
  height: 600px;

  @include mq(md) {
    height: 768px;
  }
}

.fv__inner {
  width: 100%;
  height: 100%;
}

.fv__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.fv__image {
  width: 100%;
}

.fv__image--pc {
  display: none;

  @include mq(md) {
    display: block;
    height: auto;
  }

  img {
  }
}

.fv__image--sp {
  @include mq(md) {
    display: none;
  }
  img {
    width: 100%;
  }
}

.fv__header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
}

.fv__logo {
}

.fv__logo-link {
}

.fv__logo-text {
  color: #fff;
  /* SP_h1_Zen Kaku Gothic New_Bold_11pt */
  font-family: "Zen Kaku Gothic New";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.55px;
}

.fv__logo-image {
  margin-top: 4px;
  width: 140px;
  height: 36px;

  svg {
  }
}

.fv__header-contents {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fv__tel {
  display: none;

  @include mq(md) {
    display: block;
    border-radius: 28px;
    background: #242424;
    width: 230px;
    height: 56px;
    padding-block: 5px;
  }
}

.fv__tel-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fv__tel-number {
  display: flex;
}

.fv__tel-logo {
  width: 12px;
  height: 15px;
}

.fv__tel-text {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
}

.fv__tel-reception {
  display: flex;
  gap: 6px;
}

.fv__tel-label {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fv__tel-hour {
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fv__line {
  display: none;

  @include mq(md) {
    display: block;
    width: 230px;
    height: 56px;
    border-radius: 28px;
    background: #06c755;
    padding-block: 5px;
  }
}

.fv__line-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.fv__line-logo {
  width: 31px;
  height: 30px;
}

.fv__line-text {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.8px;
}

.fv__drawer {
  width: 72px;

  @include mq(md) {
    margin-left: 8px;
  }

  a {
    img {
    }
  }
}

.fv__flower {
}

.fv__flower--left {
  position: absolute;
  top: 39px;
  left: 0;

  @include mq(md) {
    top: 250px;
    left: 22px;
  }

  img {
    width: 175px;

    @include mq(md) {
      width: 326px;
      transform: scaleY(-1) rotate(16deg);
    }
  }
}

.fv__flower--right {
  position: absolute;
  bottom: 34px;
  right: 0;

  @include mq(md) {
    bottom: 290px;
    right: 19px;
  }

  img {
    width: 150px;

    @include mq(md) {
      width: 356px;
    }
  }
}

.fv__flower--1 {
  position: absolute;
  left: 16px;
  bottom: 250px;

  img {
    width: 24px;
  }
}

.fv__flower--2 {
  position: absolute;
  bottom: 10px;
  left: 100px;

  img {
    width: 38px;
  }
}

.fv__flower--3 {
  position: absolute;
  bottom: 26px;
  left: 200px;

  img {
    width: 26px;
  }
}

.fv__flower--4 {
  img {
  }
}

.fv__flower--5 {
  img {
  }
}

.fv__flower--6 {
  img {
  }
}

.fv__flower--7 {
  img {
  }
}

.fv__title {
}

.fv__title--main {
  position: absolute;
  top: 115px;
  left: 189px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  @include mq(md) {
    flex-direction: row;
    gap: 40px;
    top: 275px;
    left: 344px;
  }
}

.fv__title--logo-wrapper1,
.fv__title--logo-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  @include mq(md) {
    flex-direction: row;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 86px;
    background: rgba(255, 255, 255, 0.85);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include mq(md) {
      width: 168px;
      height: 48px;
    }
  }
}

.fv__title--logo-wrapper2 {
  @include mq(md) {
  }
}

.fv__title--logo1 {
  img {
    width: 32px;
    height: 30px;

    @include mq(md) {
      width: 66px;
      height: 61px;
    }
  }
}

.fv__title--logo2 {
  img {
    width: 32px;
    height: 30px;

    @include mq(md) {
      width: 69px;
      height: 61px;
    }
  }
}

.fv__title--logo3 {
  img {
    width: 32px;
    height: 32px;

    @include mq(md) {
      width: 63px;
      height: 63px;
    }
  }
}

.fv__title--logo4 {
  img {
    width: 20px;
    height: 26px;

    @include mq(md) {
      width: 40px;
      height: 52px;
    }
  }
}

.fv__title--text1,
.fv__title--text2 {
  writing-mode: vertical-rl;
  text-orientation: upright; /* 英数字も正立させる */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3.84px;

  @include mq(md) {
    writing-mode: horizontal-tb;
    text-shadow: 0 0 32px rgba(121, 5, 16, 0.5);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
    letter-spacing: 4.8px;
  }
}

.fv__title--text1 {
  @include mq(md) {
  }
}

.fv__title--text2 {
  @include mq(md) {
  }
}

.fv__title--sub {
  position: absolute;
  bottom: 75px;
  left: 151px;
  writing-mode: vertical-rl;
  text-orientation: upright; /* 英数字も正立させる */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: 2.86px;
  padding-inline: 44px;

  @include mq(md) {
    writing-mode: horizontal-tb;
    font-size: 48px;
    padding-inline: 92px;
    left: 379px;
    bottom: 351px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;

    @include mq(md) {
      width: 80px;
      height: 1px;
    }
  }

  &::before {
    top: 0;

    @include mq(md) {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &::after {
    bottom: 0;

    @include mq(md) {
      left: unset;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.fv__title--sub-small {
  font-size: 18px;
  margin-inline: 2px;

  @include mq(md) {
    font-size: 40px;
    margin-inline: 6px;
  }
}
