@use "sass:map";

$main-color: blue; //仮の色
$text-color: #000; //仮の色

$font-base-1: "Noto Sans JP", sans-serif; //仮のGoogleフォント
$font-base-2: "Josefin Sans", sans-serif; //仮のGoogleフォント

//ブレークポイント
$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

//メディアクエリー
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-base-1;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}
